{
    "source": {
        "directories": [
            "Contracts",
            "DependencyInjection",
            "EventListener",
            "Model",
            "Resources",
            "Security",
            "Shared"
        ]
    },
    "mutators": {
        "@default": true
    }
}