<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/11.5/phpunit.xsd"
         bootstrap="tests/bootstrap.php"
         executionOrder="depends,defects"
         beStrictAboutOutputDuringTests="true"
         failOnRisky="true"
         failOnWarning="true"
>
    <testsuites>
        <testsuite name="Bundle Tests!!!">
            <directory>tests</directory>
        </testsuite>
    </testsuites>

    <php>
        <env name="KERNEL_CLASS" value="Yivoff\JwtRefreshBundle\Test\Resource\AppKernel"/>
    </php>

    <source>
        <include>
            <directory>src</directory>
        </include>

        <exclude>
            <directory>src/Event</directory>
            <directory>src/Exception</directory>
        </exclude>
    </source>
</phpunit>
